body{

    background-color: #F4F1EC;
    font: 17px/25px "Open Sans", Arial, sans-serif;
    position: relative;
    top: 95px;
    
}
/*colore titoli e font*/
h1{ 
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #111111;
    font: 35px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2{
    color: #111111;
    font: 25px/20px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h3{
    color: #111111;
    font: 15px/10px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

/*link visitato*/
a:link,a:visited{ 
    font-size: 20px;
    text-decoration: none;
    color: #B71A0F;
    
}

a:hover{ /*quando passo sopra con il muouse*/
    font-weight: bold;
    
}

/*menu*/
nav{
    height: 60px;
    float: left;
    text-align: center;
}

nav ol,nav ul,nav li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

nav li{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #111111; 
}

nav li:last-child{
    border-right: 0px solid #111111; 
}

.logout{
    position: relative;
    left: 220%;
}

#logoutBacheca{
    position: relative;
    left:370.3%;
}

header{
    width: 100%;
    /*float: left;*/
    font: 35px/50px "Open Sans", Arial, sans-serif;
    background-color: #EFDAD7;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: fixed;
    top:0 !important;
    z-index: 20;
}

#divBody{
    margin: 0;
    background-color: #F4F1EC;
    padding: 0;
}

#title{
    border-right: 2px solid #111111; 
    float:left;
    margin-left: 0%;
    padding-right: 15px;
}

/*login*/
#formLogin{ 
    float: left;
    width: 300px;
    height: 200px;
    background-color: #EFDAD7;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 70px;
}

label:after{
    content: '\A';
    white-space: pre;
}

.labelLog{
    width: 58%; 
}

button{
    text-align: center;
    width: 59.4% !important;
}

#nomeLog,#passLog{
   margin-bottom:5px !important;
   
}

#contentLog{
    position: relative;
    top: 30px;
    left: 20%;
}

#titleLog h2{
    position: relative;
    top: 100px;
    left: 35%;
    font: 45px "Open Sans",Arial,sans-serif;
}

/*profilo*/
#formProfile{
 
    width: 500px;
    height: auto;
    background-color: #EFDAD7;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 10%;
}

.labelProf{
    width: 58%; 
}

#profile div{
   margin-bottom:5px !important;
   
}

#profile{
    position: relative;
    left: 20%;
}

.user{
    display: inline-block;
    position: relative;
    left: 5px;
    font: 22px "Open Sans",Arial,sans-serif;
    bottom: 18px;
}

.profilePic {
    width: 60px;
    height: 60px;
    overflow: hidden;
}

#profile textArea:focus{
    outline: none;
    border-color: #22bb22;
    box-shadow: 0 0 10px #22bb22;
}

#profile input:focus{
    outline: none;
    border-color: #22bb22;
    box-shadow: 0 0 10px #22bb22;
}

/*bacheca*/

#post img{
    max-width: auto;
    max-height: 600px;
}

#post div{
    width: 90%;
    background-color: #EFDAD7;
    padding-top: 10px;
    border-bottom: 2px solid #aaaaaa;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

#divHome,#laterale,#post{
    float: left;
}

#laterale{
    background-color: #EFDAD7;
    width:15%;
    margin-left: 1%;
    margin-right: 4%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding-left: 10px
    
}

#groups{
    margin-top: 50px;
    padding-bottom: 10px;
}

#divHome{
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

#post{
    width: 65%;
}

#divDesc title{
    width: 100%;
}

#divDesc description{
    width: 100%;
}

#divDesc description h2, description h3{
    float: left;
    margin-top: 10%;
    background-color:#F4F1EC !important; 
}

#content1{
    margin-top: 30px;
}

.headProf{
    position: relative;
    margin: 0;
    padding: 22.4px;
    width: 92.5% !important;
    top: -5px;
    left:5px;
    right: 5px;
    height: 60px;
    border-bottom: 2px solid #aaaaaa !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2) !important;
    background-color: #E3B3AB !important;
}

.bodyProf{
    border: none !important;
    box-shadow: none !important;
    position: relative;
    left: 20px;
}

/*immagini decorative*/

#titleLog h2:before{
    content: url('fotoLog.png');
    position: relative;
    top: 5px;
    
}

#groups h2:after{
    content: url('add.png');
    position: relative;
    top: 5px;
    left: 25px;
}

#people h3:before{
    content:url('user.png');
    position: relative;
    top: 3px;
    left: -5px;
} 

#groups h3:before{
    content: url('friends.png');
    position: relative;
    top: 5px;
    left: -5px;
}